
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Styling */
body {
    background-image: url('hhhh.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000;
}

/* Glass Effect for the Form Container */
.glass-container {
    background: rgba(255,255,255,0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    text-align: center;
}

/* Title Styling */
h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* File Input Styling */
input[type="file"] {
    margin-bottom: 0px;
    padding: 10px;
    border: 2px solid #54b6ce;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="file"]:hover {
    border-color: #2575fc;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Button Styling */
button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #1b5282;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 600px) {
    .glass-container {
        width: 90%;
        padding: 30px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 10px 20px;
    }

    input[type="file"] {
        font-size: 14px;
    }
}
